/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2019, 10:23:08 AM
    Author     : Pranat Sharma
*/
html{
    scroll-behavior: smooth;
}
 body{
      background-image: url("B13.JPG");
                    color:white;              
}
header{
    max-width: 100%; 
}
.Top{
    display: grid;
    max-width:100%;
    background-image: url("B5.JPG");
      color:yellow;
}

img{
 border-radius: 20px;
 max-width:100%;
 height: auto;
 align-content: center;
}
.image{
    align-content: center;
}
.txt{
    align-content: center;
}
.Name1{
    width:100%;
}
.Name2{
    width:100%;
}

#header{
      padding: 0px 0px;
      border-bottom: 1px solid; 
}

#header nav{
      list-style-type: none;
      margin: 0px;
      padding: 0px;
}

#header ul li{
      float: right;
}
            
#header li a{
               
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
#header li a:hover{
      background-color: red;
}
#header ul{
       list-style-type: none;
       margin: 10px;
       padding: 10px;
       overflow: hidden;
       background-color: white;
}

.row1{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-column-gap:2em;
    padding: 1em;
}

.row2{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-column-gap:2em;
    padding: 1em;
}

.row3{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-column-gap:2em;
    padding: 1em;
}

.row4{
   display: grid;
    grid-template-columns: 35% 65%;

    grid-column-gap:2em;
    padding: 1em;
}
            
div{
      color:white;
}

h1{
      color:white;
}
h1:hover{
    color:yellow;
}

.Name span{
    color:#ebf5f7;
    text-transform: uppercase;
    display: block;
}
.Name span:hover{
    color:yellow;
}
.Name1{
    animation:text 1s forwards;
}
.Name2{
    animation: text 1s forwards;
}

@keyframes text{
    0%{
        color:black;
        margin-bottom:40px;
    }
    30%{
        letter spacing:25px;
        margin-bottom:-40px;
    }
    85%{
        letter spacing: 8px;
        margin-bottom:-40px;
    }
}


@media screen and (max-width:760px){
    p{
        font-size: 20px;
    }
    .Top{
        max-width:100%;
    }
    img{
        display:block;
        margin-left: 50%;
        margin-right: 50%;
        max-width:100%;
        height:auto;
    }
    .image{
    align-content: center;
}
.txt{
    align-content: center;
}
    
    .row1{
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap:2em;
    padding: 10px;
   }

    .row2{
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap:2em;
    padding: 10px;
   }

    .row3{
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap:2em;
    padding: 10px;
   }

.row4{
   display: grid;
    grid-template-columns: 100%;
    grid-column-gap:2em;
    padding: 10px;
}
}
